.hamburger 
{
    position: fixed;
    right: 10px;
    top: 10px;
    background-color: white;
    z-index: 10000000;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 5px  rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 768px)
{
    .hamburger 
    {
        display: none;
    }
}