.dashboard-home 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgba(243, 245, 245, 0.808);
}


.user-welcome
{
    color: rgb(13, 14, 13);
    margin: 10px; 
    font-size: 18px;
}

.add-chat-link 
{
    color: blue;
    font-weight: 500;
    cursor: pointer;
    margin: 10px; 
}

@media screen and (min-width: 768px)
{
    .user-welcome
    {
        font-size: 22px;
    }
}